/* GoogleFont */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common Style or utilitise */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* Banner Style */


.TopBanner{
    display: flex;
    margin-top: 50px;
    background-color:#161616;
    height: 646px;
    width: 1321px;
    border-radius: 30px;
}

.B1{
    margin-left: 60px; 
}

.BannerTitle{
    color: white;
    font-size: 70px;
    font-weight: 700px;
}

.BannerInfo{
    color: white;
    font-size: 16px;
}

.BannerButton{
    font-size: 20px;
    margin-top: 20px;
    background-color: #EAECEE ;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.BannerButton:hover{
    font-size: 30px;
    color:  white;
    background-color:tomato;
}
.Banner img{
   width: 65%;
}

/* Blog Style */

.Blog{
 border: 1px solid rgba(157, 157, 157, 0.539);
 width: 312px;
 height: 362px;
 border-radius: 10px;
}

.Blogs{
    margin-top: 130px;
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
   }
.LiveMatchBlog{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    background-color: #161616;
    width: 312px;
    height: 312px;
    grid-row: 1/9;
    border-radius: 10px;
}

.LiveMatchButton{
    font-size: 20px;
    font-weight: 500;
    height: 64px;
    width: 252px;
    border-radius: 10px;
    margin-top: 30px;
   
}

.LiveBlog{
    background-color: #DD0000;
}

.LiveMatchBlog a{
    text-decoration: none;
    color: black;
}

.LiveMatchBlog a:visited{
    color: red;
}

.BlogInfo{
    margin-top: 20px;
    padding: 0 20px;
}

.BlogButton{
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    height: 32px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.BlogButton:hover{
    
    font-size: 20px;
    color:  white;
    background-color:rgba(255, 71, 71, 0.677);
}



.BlogTitle{
    font-size: 18px;
}
.BlogSummary{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #161616;
}

.fa-comment-dots{
    margin-left: 30px;
}

/* View Button Visibility  */
.ViewAll{
    display: none;
}

/* Footer */
footer{
    background-color: #161616;;
    
}

.FooterTitle{
    padding-top: 130px;
    text-align: center;
     color: white;
     font-size: 40px;
     font-weight: 600;
}

hr{
    margin-top: 50px;
    width: 90%;
}

.Footer{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    margin: 50px 351px;

   
}

.SocialLink{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    margin-top: 30px;
}

.Icon{
    color: white;
    margin-left: 20px;
}

.Icon a{
   text-decoration: none;
}


/* LiveMath.html page Styles */

.LiveMatch{
 height: 242px; 
}

.LiveMatchCover{
    margin-top: 53px;
    display: flex;
    justify-content: center;
}

.VS{
    font-size: 16px;
    padding: 0 10px;
    font-weight: 700;
}

.LiveMatchInfo{
    text-align: center;
}


/* Media Queries */

/* Mobile Devices */

@media screen and (max-width:688px) {

    /* Banner Style */
    .TopBanner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 0;
        margin-top: 0;
    }

    .Banner img{
        width: 65%;
     }

     .Banner{
        text-align: center;
     }

    .BannerTitle{
        font-size: 40px;
        
    }

    .BannerInfo{
        text-align: center;
    }

    .B1{
        margin-left: 0;
    }

    .BannerButton{
        font-size: 20px;
        margin-top: 20px;
        background-color: #EAECEE ;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
    }

    /* Blog Styles */

    .Blogs{
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 24px;
       }

       .LiveMatchBlog{
        background: none;
       }


       /* Footer Styles */
       
       hr{
        width: 335px;
       }


       .Footer{
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        margin: 0 0;
    }
    
    .SocialLink{
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-top: 30px;
    }
}

@media screen and (min-width:689px) and (max-width: 992px) {

    
/* Banner Style */


    .TopBanner{
        background-color:#161616;
        height: 398px;
        width: 734px;
        border-radius: 30px;
    }

    .B1{
        width: 100%;
    }

    .BannerTitle{
        font-size: 30px;
    }

    .BannerInfo{
        font-size: 10px;
    }

    .BannerButton{
        font-size: 10px;
    }
    .BannerButton:hover{
        font-size: 10px;
    }
    .Banner img{
    width: 67%;
    }

    /* Blog Style */
    .Blogs{
        margin-top: 130px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 24px;
       }
       .LiveMatchBlog{
        grid-row: 1/1;
    }

    .Side{
        grid-column: 1/1;
    }

    /* Footer  */
    .Footer{
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: none;
        align-items: center;
        font-size: 16px;
        margin: 0;
    }

    .ViewButton{
    border: none;
    background-color: #DD0000;
    font-size: 20px;
    margin-top: 30px;
    height: 47px;
    width: 131px;
    border-radius: 5px;
    cursor: pointer;
    }

    .ViewAll{
        display: flex;
    }
}
